:root {
    --color-boxshadow : #00000029;
    --color-white : #FFF;
    --color-orange : #ff914d;
    --color-gris : #234a80;
    --color-red : red;
    --color-vert : #367b0c;
    --color-bleu : #0d2a44;
}