@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');



body{
    margin: 0;
    width: max-content;
    height: max-content;
}

header{
    display: flex;
}

#logo-space{
    width: 282px;
    height: 248px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-banner{
    width: calc(100vw - 282px);
    height: 248px;
    background-image: url("../../image/images/backback.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;

}


#header-logo{
    height: 200px
}

#header-name-menu{
    width: calc(100vw - 282px);
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    top: 25%;
    left: 35%;
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #E1EBDB;


}

.detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-decoration: none;
}

#nav-menu{
    background-color: #0D2A44;
    width: 282px;
    height: max-content;
    padding-top: 30px;
    padding-bottom: 75px;
}

#nav-profil-menu{
    background-color: #0D2A44;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#nav-profil-menu img{
    padding-top: 30px;
    padding-bottom: 15px;
}

#nav-profil-menu hr{
    width: 75%;
}

#global-menu{
    display: flex;
    flex-direction: column;
    height: max-content;
}

.iconify{
    color: #FFFFFF;
    width: 40px;
    height: 40px;
}

.title-button-menu{
    color : #FFFFFF;
    font-family: 'Montserrat';
    font-size: 20px;
}

.menu-touch :hover{
    background-color: #367B0C;
}


.title-profil-menu{
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    margin-bottom: 3px;
}

.role-profil-menu{
    color: #13b505;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;

}

#menu-selected {
    background-color: #367B0C;
}




#logout {
    margin-top: 10px;
    margin-bottom: 20px;
}
